/* our team */
.team-section {
  background: var(--third-background-color);
  @media screen and (max-width: 767px) {
    min-width: 450px;
    max-width: 767px;
  }
}
.team-list {
  // display: flex;
  @extend .list;
}

.team-member-card {
  @media screen and (max-width: 767px) {
    width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  // width: 270px;
  // &:not(:first-child) {
  //   margin-left: 30px;
  // }
}

.team-list__member-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.172;
  text-align: center;
}
.team-member-card__occupation {
  margin-bottom: 16px;
  font-size: var(--secondary-font-size);
  line-height: 1.172;
  text-align: center;
  color: var(--text-secondary-color);
}

.team-member-card__text {
  @media screen and (max-width: 1200px) {
    width: 450px;
    padding-bottom: 24px;
  }
  padding-top: 30px;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--mainbackground);
}
