:root {
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --main-font-size: 14px;
  --secondary-font-size: 16px;
  --text-primary-color: #212121;
  --text-secondary-color: #757575;
  --text-accent-color: #2196f3;
  --mainbackground: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --background-accent: #188ce8;
  --background-icon: #afb1b8;
}
